In [17]:
# Add Pandas dependency.
import pandas as pd

# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the school data file and stroe it in a Pandas DataFrame.
schools_data_df = pd.read_csv(school_data_to_load)
schools_data_df.tail(3)

    School ID          school_name      type  size   budget
12         12  Johnson High School  District  4761  3094650
13         13     Ford High School  District  2739  1763916
14         14   Thomas High School   Charter  1635  1043130

In [19]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60